<%= form_with(model: guntype, local: true) do |form| %>
  <% if guntype.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(guntype.errors.count, "error") %> prohibited this guntype from being saved:</h2>

      <ul>
        <% guntype.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :gunshottype %>
    <%= form.text_field :gunshottype %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
